ul, ol, li {
    list-style: none;
}

#logo{
    margin-left: 2%;
    padding-bottom: 0%;
    float: left;
}
.font-menu-links{
    color: #ff7342;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 28px;
    padding-bottom: 0px;
}
/*Navbar*/
.margin-contato{
    margin-right: 35px;
}
.font-menu-links:hover{
    color: #c35326;
}
.font-menu-links:active{
    color: #c35326;
}
.sombra-nav{
    box-shadow: 5px 15px 30px #dddddd;
    z-index: 0;

}

/* Formulario */
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 
.margem-logo-formulario{
    padding-top: 2.5%;
}
.logo-formulario{
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
@media (min-width: 144px) { 
    .formulario{
        background-color: #dadada;
        padding-bottom: 5%;
        margin-top: 25%;
        border-radius: 54px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    } 

}
@media (min-width: 576px) { 
    .formulario{
        background-color: #dadada;
        padding-bottom: 5%;
        margin-top: 13%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 54px;
    } 

}
@media (min-width: 768px) {
    .formulario{
        background-color: #dadada;
        padding-bottom: 5%;
        margin-top: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 54px;
        width: 85%;
    } 

}
@media (min-width: 992px) {
    .formulario{
        background-color: #dadada;
        padding-bottom: 5%;
        margin-top: 8%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 54px;
        width: 80%;
    } 
}
@media (min-width: 1200px) { 
        .formulario{
        background-color: #dadada;
        padding-bottom: 5%;
        margin-top: 7%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 54px;
        width: 70%;
    }
}
@media (min-width:397px){
.botao-entrar{

    float: right;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color:#ff6600;
    color: white;
    border: none;

}
}
@media (max-width:397px){
    .botao-entrar{
        display: none;
        float: right;
        width: 200px;
        height: 50px;
        border-radius: 20px;
        background-color:#ff6600;
        color: white;
        border: none;
    
    }
    }
@media (max-width:396px){
    .botao-entrar-pequeno{
        z-index: 1;
        display: block;
        float: right;
        width: 200px;
        height: 50px;
        border-radius: 20px;
        background-color:#ff6600;
        color: white;
        border: none;
        margin-top: 10px;
    
    }
}
@media (min-width:397px){
    .botao-entrar-pequeno{
        display: none;
        float: right;
        width: 200px;
        height: 50px;
        border-radius: 20px;
        background-color:#ff6600;
        color: white;
        border: none;
    
    }
}
.nome-formulario{
    padding-left: 10px;
    width: 80%;
    height: 50px;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 20px;
    background-color: #f8f8f8;
    border: none;
    margin-bottom: 3%;
}
.email-formulario{
    padding-left: 10px;
    width: 80%;
    height: 50px;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 20px;
    background-color: #f8f8f8;
    border: none;
    margin-bottom: 3%;
}

.senha-formulario{
    padding-left: 10px;
    width: 80%;
    height: 50px;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 20px;
    background-color: #f8f8f8;
    border: none;
    margin-bottom: 3%;
}

#nome::placeholder{
    text-align: left;
}
#senha::placeholder{
    text-align: left;
}
#email::placeholder{
    text-align: left;
}

.texto-1{
    color: #ff6600;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 5%;
    margin-top: 2%;
}
.botao{
    display: block;
    margin-left: auto;
    margin-right: auto;  
    width: 80%;
    height: 50px;
    border-radius: 20px;
    background-color:#ff6600;
    color: white;
    border: none;
}

/* Rodapé */
/* Rodapé */
@media (max-width:900px){
    .img-cps{
        display: none;
        
    }
    .cps{
        width: 96px;
        height: 95px;
        margin-top: 2.2em;
        margin-left: 18%;
        display: none;
    }
    .endereco{
        margin-top: 2.2em;
        color: white;
        display: none;
    }
    .contato{
        margin-top: 2.2em;
            color: white;
            display: none;
    }
    .rodape{
        
        width: 100%;
        position: relative;
        bottom: 0;
        display: none;
    
    }
    .redes-sociais-rodape{
        margin-bottom: 10px;
        display: none;
    }
    
    .redes-contato{
        margin-top: 2.2em;
        display: none;
    }
    .rodape1{
        margin-top: 20%;
        background-color: #892d00;
        height: 12em;
        display: none;
        margin-right: 0px !important;
        margin-left: 0px !important;
        
    }
    .rodape1.row{
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .botao-entrar-pequeno{
        display: none;
        font-weight: BOLD;
        width: 200px;
        height: 50px;
        border-radius: 20px;
        background-color:#ff6600;
        color: white;
        border: none;
    
    }
    
    .footer{
        background-color: #ff5400;
        display: block;
        color: white;
        font-size: 25px;
        text-align: center;
        height: 50px;
        padding-top: 10px;
    }
    }
    .img-cps{
        display: inline;
        
    }
    .cps{
        width: 96px;
        height: 95px;
        margin-top: 2.2em;
        margin-left: 18%;
    
    }
    .endereco{
        margin-top: 2.2em;
        color: white;
    
    }
    .contato{
        margin-top: 2.2em;
            color: white;
    
    }
    .rodape{
        
        width: 100%;
        position: relative;
        bottom: 0;
    
    
    }
    .redes-sociais-rodape{
        margin-bottom: 10px;
    
    }
    
    .redes-contato{
        margin-top: 2.2em;
    
    }
    .rodape1{
        margin-top: 20%;
        background-color: #892d00;
        height: 12em;
    
        
    }
    .botao-entrar-pequeno{
    
        font-weight: BOLD;
        width: 200px;
        height: 50px;
        border-radius: 20px;
        background-color:#ff6600;
        color: white;
        border: none;
    
    }
    
    .footer{
        background-color: #ff5400;
        display: block;
        color: white;
        font-size: 25px;
        text-align: center;
        height: 50px;
        padding-top: 10px;
        width: 100%;
        height: auto;
    }
    .etec-footer{
        width: 100%;
        height: auto;
    }
    @media (min-width:901px){
        .rodape-menor{
            display: none;
        }
        .endereco-menor{
            display: none;
        }
        .titulo-endereco-menor{
            display: none;
        }
        .texto-endereco-menor{
            display: none;
        }
        .contato-menor{
            display: none;
        }
        .texto-contato-menor{
            display: none;
        }
        .rodape1-menor{
            display: none;
        }
    }
    @media (max-width:900px){
    .rodape1-menor{
        margin-top: 20%;
        background-color: #892d00;
        height: auto;
        margin-right: 0px !important;
        margin-left: 0px !important;
        
    }
    .endereco-menor{
        margin-top: 2.2em;
        color: white;
        border-left: 3px solid orange;
        border-bottom: 3px solid orange;
       margin-bottom: 5px;
    
    
    }
    .contato-menor{
        margin-top: 2.2em;
        color: white;
        border-right: 3px solid orange;
        border-bottom: 3px solid orange;
       margin-bottom: 5px;
    
    }
    }
/* JavaScript*/
.validation .validation-msg {
    display: none;
  }
  
  .validation .invalid .validation-msg {
    display: block;
    color: #ef3c59;
  }
  
  .validation .invalid {
    border: 1px solid #ef3c59;
  }