/* Classes Gerais */
*{
    margin: 0px;
    padding: 0px;
}
.centralizar{
    text-align: center;
}
body{
    overflow-x:hidden;
    }
/* Header */
#logo{
    margin-left: 2%;
    padding-bottom: 0%;
}
.font-menu-links{
    color: #ff7342;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 28px;
    padding-bottom: 0px;
}
/*Navbar*/
.margin-contato{
    margin-right: 35px;
}
.font-menu-links:hover{
    color: #c35326;
}
.font-menu-links:active{
    color: #c35326;
}
.sombra-nav{
    box-shadow: 5px 15px 30px #dddddd;
    z-index: 0;

}
/* Redes Sociais*/
.rede-sociais{
    padding-right: 1%;
}
.icone-redes-sociais{
    z-index: 1;
    width: auto;
    height: auto;
    display: inline;
    float: right;
    padding: 2px;
    padding-top: 1%;   
    position: relative;
}
.conteudo-pagina{
    margin-left: 5%;
    margin-right: 5%;
}
/* Icone */
#icone{
    padding-top: 5%;
    
}
/* Videos */
.video-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin: 30px 0px;
    border: 3px solid #ff7342;

}
.video-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
/* Titulo */
.titulo-acolhimento{
    color: #ff7342;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 5%;
}
.titulo-1{
    font-family: Arial, Helvetica, sans-serif;
    color: #be3f00;
    font-weight: bold;
    margin-top: 4%;
}
.titulo-texto-2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 3%;
}
.titulo-links{
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 8px solid #ff5400;
    text-align: center;
    padding-bottom: 1%;
    font-weight: bold;

}
/* Texto */

.texto-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

}
.texto-2{
    margin-right: 0;

}
.subtitulo{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.links{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 8px solid #ff5400;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.textos-links{
    margin-top: 10%;
}

/* Rodapé */
@media (max-width:900px){
    .img-cps{
        display: none;
        
    }
    .cps{
        width: 96px;
        height: 95px;
        margin-top: 2.2em;
        margin-left: 18%;
        display: none;
    }
    .endereco{
        margin-top: 2.2em;
        color: white;
        display: none;
    }
    .contato{
        margin-top: 2.2em;
            color: white;
            display: none;
    }
    .rodape{
        
        width: 100%;
        position: relative;
        bottom: 0;
        display: none;
    
    }
    .redes-sociais-rodape{
        margin-bottom: 10px;
        display: none;
    }
    
    .redes-contato{
        margin-top: 2.2em;
        display: none;
    }
    .rodape1{
        margin-top: 20%;
        background-color: #892d00;
        height: 12em;
        display: none;
        margin-right: 0px !important;
        margin-left: 0px !important;
        
    }
    .rodape1.row{
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .botao-entrar-pequeno{
        display: none;
        font-weight: BOLD;
        width: 200px;
        height: 50px;
        border-radius: 20px;
        background-color:#ff6600;
        color: white;
        border: none;
    
    }
    
    .footer{
        background-color: #ff5400;
        display: block;
        color: white;
        font-size: 25px;
        text-align: center;
        height: 50px;
        padding-top: 10px;
    }
    }
    .img-cps{
        display: inline;
        
    }
    .cps{
        width: 96px;
        height: 95px;
        margin-top: 2.2em;
        margin-left: 18%;
    
    }
    .endereco{
        margin-top: 2.2em;
        color: white;
    
    }
    .contato{
        margin-top: 2.2em;
            color: white;
    
    }
    .rodape{
        
        width: 100%;
        position: relative;
        bottom: 0;
    
    
    }
    .redes-sociais-rodape{
        margin-bottom: 10px;
    
    }
    
    .redes-contato{
        margin-top: 2.2em;
    
    }
    .rodape1{
        margin-top: 20%;
        background-color: #892d00;
        height: 12em;
    
        
    }
    .botao-entrar-pequeno{
    
        font-weight: BOLD;
        width: 200px;
        height: 50px;
        border-radius: 20px;
        background-color:#ff6600;
        color: white;
        border: none;
    
    }
    
    .footer{
        background-color: #ff5400;
        display: block;
        color: white;
        font-size: 25px;
        text-align: center;
        height: 50px;
        padding-top: 10px;
        width: 100%;
        height: auto;
    }
    .etec-footer{
        width: 100%;
        height: auto;
    }
    @media (min-width:901px){
        .rodape-menor{
            display: none;
        }
        .endereco-menor{
            display: none;
        }
        .titulo-endereco-menor{
            display: none;
        }
        .texto-endereco-menor{
            display: none;
        }
        .contato-menor{
            display: none;
        }
        .texto-contato-menor{
            display: none;
        }
        .rodape1-menor{
            display: none;
        }
    }
    @media (max-width:900px){
    .rodape1-menor{
        margin-top: 20%;
        background-color: #892d00;
        height: auto;
        margin-right: 0px !important;
        margin-left: 0px !important;
        
    }
    .endereco-menor{
        margin-top: 2.2em;
        color: white;
        border-left: 3px solid orange;
        border-bottom: 3px solid orange;
       margin-bottom: 5px;
    
    
    }
    .contato-menor{
        margin-top: 2.2em;
        color: white;
        border-right: 3px solid orange;
        border-bottom: 3px solid orange;
       margin-bottom: 5px;
    
    }
    }